.header{
    width: 100%;
    position: fixed;
    background-color: #1b1a1a;
    z-index: 100;
    padding: 25px 0;
}
.header::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    transition: .2s linear;
}
.header.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    background-color: #fff;
}
.navigation{
    width: 100%;
}
.navigation__list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
    transition: .1s linear;
}
.nav__link:hover{
    color: rgba(251, 70, 230, 1);
    border-bottom: 2px solid rgba(251, 70, 230, 1);
    transform: translate(0, 2px);
}

@media (max-width: 500px) {
    .header{
        bottom: -210px;
        padding-top: 30px;
        transition: .2s linear;
        display: none;
    }
    .navigation__list{
        margin-top: 10px;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .nav__link{
        border-bottom: none;
    }
}